nav {
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.navbar-brand {
  text-decoration: none;
}

ul {
  list-style-type: none;
  display: flex;
  gap: 10px;
}

ul li {
  margin-right: 10px;
}

ul li a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
}

ul li a:hover {
  color: #ffa500; /* Change to your desired hover color */
}

.navbar-toggler {
  display: none; /* Hide the toggler for now */
}
